.panel {
  display: inline-block;

  &__wrapper {
    padding-top: 2%;
  }

  &__form {
    display: flex;
  }

  &__column {
    &_left {
      margin-right: 2em;
      padding-top: 0.2em;
    }
  }

  &__input-wrapper {
    margin-bottom: 1em;
  }

  &__input {
    width: 5em;
  }

  &__label {
    margin-left: 0.8em;
  }

  &__checkmark {
    display: block;
    margin-bottom: 0.5em;
  }
}
