.panel {
  display: inline-block;

  &__input {
    margin-bottom: 1rem;
  }

  &__wrapper {
    padding-top: 2%;
  }

  &__form {
    display: flex;
  }

  &__column {
    &_left {
      margin-right: 2rem;
      padding-top: 0.2rem;
    }
  }

  &__checkmark {
    display: block;
    margin-bottom: 0.5rem;
  }
}
