include ../checkmark/checkmark
include ../input/input

mixin panel
  .panel
    .panel__wrapper
      h2 Configure
      form(action='', class='panel__form' id=id)
        .panel__column.panel__column_left
          .panel__value-inputs
          .panel__input
            +input({type: 'number', name: 'min', label: 'Min'})
          .panel__input
            +input({type:'number', name:'max', label:'Max'})
          .panel__input
            +input({type:'number', name:'step', label:'Step'})
        .panel__column.panel__column_right
          .panel__checkmark
            +checkmark({name:'showBubble', type:'checkbox', label:'Show bubble'})
          .panel__checkmark
            +checkmark({name:'showSteps', type:'checkbox', label:'Show steps'})
          .panel__checkmark
            +checkmark({name:'isHorizontal', type:'checkbox', label:'Horizontal'})
          .panel__checkmark
            +checkmark({name:'hasInterval', type:'checkbox', label:'Interval'})
        


  