{
    "extends": ["airbnb-base", "prettier"],
    "plugins": ["eslint-plugin-prettier"],
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "linebreak-style":"off"
    }
}