{
    "extends": ["airbnb-base", "airbnb-typescript", "prettier"],
    "parser": "babel-eslint",
    "plugins": ["eslint-plugin-prettier"],
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "linebreak-style":"off"
    }
}