include ../slider/slider
include ../Panel/panel

mixin example(options)
  .example
    .example__slider.js-example__slider
      +slider(options)
    .example__panel.js-example__panel
      +panel