$pointer-size: 6px;
$bubble-color: black;

%bubble {
  position: relative;
  background: $bubble-color;
  border-radius: 0.4em;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: $pointer-size solid transparent;
  }
}
