@import 'bubble';

.slider-cont {
    display: inline-block;
    input {
        margin-bottom: 0.5em;
    }

    .slider {
        background: $light-grey;
        position: relative;
        border-radius: 0.1em;

        .slider-done {
            position: absolute;
            z-index: 1;
            display: block;
            border: 0;
            background: #4EB7A8;
            border-radius: 0.1em;
        }

        .slider-head {
            cursor: pointer;
            border-radius: 50%;
            border: none;
            background: #4EB7A8;
            position: absolute;
            z-index: 2;
            width: 25px;
            height: 25px;
        }

        .value-bubble {
            @extend %bubble;
            margin-bottom: $pointer-size;
            position: absolute;
            line-height: 175%;
            color: #FFFFFF;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
        }
    }

    .slider-hor {
        width: 300px;
        height: 14px;
        margin-top: 45px;
        margin-left: 5px;

        .slider-done {
            height: 100%;
            width: 0;
        }

        .slider-head {
            top: -6px;
            left: 0;
        }

        .value-bubble {
            top: -45px;
            left: -5px;
            width: 36px;
            height: 30px;
            
            &:after {
                bottom: 0; 
                left: 50%; 
                border-top-color: $bubble-color; 
                border-bottom: 0; 
                margin-left: -$pointer-size; 
                margin-bottom: -$pointer-size;
            }
        }

        label {
            position: absolute;
            width: 20px;
            margin-left: 0px;
            text-align: center;
            margin-top: 20px;
        }

    }

    .slider-ver {
        width: 14px;
        height: 300px;

        .slider-done {
            height: 0;
            width: 100%;
        }

        .slider-head {
            top: 0;
            left: -6px;
        }

        .value-bubble {
            top: -5px;
            left: 28px;
            width: 36px;
            height: 30px;

            &:after {
                left: 0; 
                top: 50%; 
                border-right-color: $bubble-color;
                border-left: 0; 
                margin-top: -$pointer-size; 
                margin-left: -$pointer-size;
            }
        }

        label {
            position: absolute;
            width: 20px;
            margin-left: -20px;
            text-align: center;
        }
    }

}
