include components/panel/panel

doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    title Slider testing
  body
    .content
      .examples
        .examples__title Slider testing
        .examples__container
          .examples__example
            #example-1
            +panel({slider:'example-1'})
          .examples__example
            #example-2
            +panel({slider:'example-2'})
          .examples__example
            #example-3
            +panel({slider:'example-3'})
      