include components/examples/examples

doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    title Slider testing
  body
    .content
      +examples({
        title: 'Slider testing', 
        examples: [
          {hasInterval: true}, 
          {value: 20, step: 20, showBubble: false, showSteps: true}, 
          {min: 40, isHorizontal: false, hasInterval: true}
        ]
      })