include components/panel/panel

doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    title Slider testing
  body
    .content
      h1 Slider testing
      .examples
        #example1
        #example2
        #example3
      #config-example
      +panel('panel')