include components/Panel/panel
include components/slider/slider
include components/Example/Example

doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    title Slider testing
  body
    .content
      .examples
        .examples__title Slider testing
        .examples__container
          +example({hasInterval: true})
          +example({value: 20, step: 20, showBubble: false, showSteps: true})
          +example({min: 40, isHorizontal: false, hasInterval: true})
      