@import './css/layout';
@import './css/defaults';

@import './css/slider';

@import './components/checkmark/checkmark';
@import './components/panel/panel';

html,
body {
  background: white;
  color: black;
  font-size: 16px;
}
