$pointer-size: 0.3rem;
$bubble-color: black;

%bubble {
  position: relative;
  background: $bubble-color;
  border-radius: 0.4rem;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: $pointer-size solid transparent;
  }
}

%unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider {
  display: inline-block;

  &__input {
    margin-bottom: 0.5rem;
  }

  &__wrapper {
    background: $light-grey;
    position: relative;
    border-radius: 0.1rem;
  }

  &__bubble {
    @extend %bubble;
    @extend %unselectable;
    margin-bottom: $pointer-size;
    position: absolute;
    width: 2.25rem;
    height: 1.875rem;
    line-height: 1.875rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  &__range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background: $light-green;
    border-radius: 0.1rem;
  }

  &__head {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background: $light-green;
    position: absolute;
    z-index: 2;
    width: 1.5625rem;
    height: 1.5625rem;
  }

  &__error-container {
    margin-top: 2.5rem;
  }

  &_horizontal & {
    &__wrapper {
      width: 18.75rem;
      height: 0.875rem;
      margin-top: 2.8125rem;
    }

    &__range {
      height: 100%;
      width: 0;
    }

    &__head {
      top: -0.375rem;
      left: 0;
    }

    &__bubble {
      top: -2.8125rem;
      left: -0.3125rem;

      &:after {
        bottom: 0;
        left: 50%;
        border-top-color: $bubble-color;
        border-bottom: 0;
        margin-left: -$pointer-size;
        margin-bottom: -$pointer-size;
      }
    }

    &__label {
      @extend %unselectable;
      position: absolute;
      width: 1.25rem;
      margin-left: 0rem;
      text-align: center;
      margin-top: 1.25rem;
      font-size: 0.8rem;
    }
  }

  &_vertical & {
    &__wrapper {
      width: 0.875rem;
      height: 18.75rem;
    }

    &__range {
      height: 0;
      width: 100%;
    }

    &__head {
      top: 0;
      left: -0.375rem;
    }

    &__bubble {
      top: -0.3125rem;
      left: 1.75rem;

      &:after {
        left: 0;
        top: 50%;
        border-right-color: $bubble-color;
        border-left: 0;
        margin-top: -$pointer-size;
        margin-left: -$pointer-size;
      }
    }

    &__label {
      @extend %unselectable;
      position: absolute;
      width: 1.25rem;
      left: -2rem;
      text-align: center;
      font-size: 0.8rem;
    }
  }
}
